{
       "presets":  [
        "env",
        "react"
],
"plugins": [
      
        "syntax-jsx",
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-react-jsx"
],
"test": [
        "jest"
]
}