{
       "presets":  [
        "react",
         "env"
        
],
"plugins": [
        "transform-react-jsx",
        "transform-class-properties",      
        "syntax-jsx",
        
        "transform-object-rest-spread"
       

],
"test": [
        "jest"
]
}